body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
a,
h1,
h2 {
  margin: 0;
}
